body {
  background: linear-gradient(to right, royalblue, cyan);
}

.input {
  text-align: center;
}

.input-field {
  width: 25%;
  height: 30px;
  margin-top: 10%;
  border-radius: 7.5px;
  font-size: larger;
}

.add-btn {
  height: 35px;
  border-radius: 7.5px;
  background-color: black;
  color: white;
}

.items {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  list-style: none;
  padding: 10px;
}

.item-title {
  display: inline;
  padding: 10px;
}

.rmv-btn {
  background-color: darkred;
  color: white;
}